@import "tailwindcss";
@import "../node_modules/@flaticon/flaticon-uicons/css/all/all.css";
/* Self made utilities */
@import "./styles/index.css";

/* Colors */
@import "./styles/colors.css";

/* Buttons */
@import "./styles/button.css";

/* Navbar */
@import "./styles/navbar.css";

* {
  background-image: url("./assets/images/") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}
