.btn {
  @apply px-5 py-2 hover:brightness-90 transition-all duration-300 cursor-pointer rounded select-none;
}

.btn-primary {
  @apply bg-[#f7be27];
}
.btn-secondary {
  @apply bg-[#e3000e];
}
.btn-accent {
  @apply bg-[#F5C9B0];
}
.btn-light {
  @apply bg-[#F9F6F3];
}
.btn-danger {
  @apply bg-red-500 hover:bg-white! border-red-500 border hover:text-red-500 uppercase px-7! py-2! mt-3 rounded-none! text-white;
}

/*  */
