/* Background Colors */

.bg-primary {
  @apply bg-[#1C352D];
}

.bg-secondary {
  @apply bg-[#A6B28B];
}

.bg-accent {
  @apply bg-[#642f21];
}

.bg-light {
  @apply bg-[#F9F6F3];
}

.bg-danger {
  @apply bg-red-600;
}

/* Text Colors */

.text-primary {
  @apply text-[#f7be27];
}

.text-secondary {
  @apply text-[#A6B28B];
}

.text-accent {
  @apply text-[#642f21];
}

.text-light {
  @apply text-[#F9F6F3];
}

.text-danger {
  @apply text-red-600;
}

.text-purple {
  @apply text-[#430490];
}

.text-light {
  @apply text-[#F9F6F3];
}
